.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.text-primary{
    color: #FD6E0A;
}
.text-center{
    text-align: center;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.btn-primary{
    color: white;
    background-color: #FD6E0A;
    height: 64px;
    width: 150px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}
.btn-secondary{
    background-color: white;
    color: #FD6E0A;
    height: 64px;
    width: 150px;
    border-radius: 5px;
    border:solid #FD6E0A;
    font-weight: 700;
    font-size: 20px;  
    cursor: pointer;
}
.secondary-bg{
    background-color: #FFF8F3;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
}
.section-description{
    font-size: 18px;
}

header{
    background-image:url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight: 700;
    font-size: 45px;
}
nav>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 45px;
    
    
    
}
nav>ul>li>a{
    text-decoration: none;
    
    font-size: 20px;
}

/* banner style */
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: 800;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    margin-top: 130px;
    text-align: center;
}
.about-inside{
    background-color: white; 
    padding: 0 10px;
}
.about-items{
    display: flex;
    justify-content: space-between;
}
.about-item>.item-description{
    font-weight:600;
}

.skills{
    margin: 100px 0;
}
.what-i-do{
    text-align: center;
    
    padding: 0 150px;
}

.card-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card{
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 6px 50px 0 #1E1E1E;
}
.skill-title{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}

.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description, .experience-sub-title{
     color: #757575;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: bold;
    margin: 2px 0px;
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin: 0px 0px;
}

.resume-btn-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

footer{
    padding: 130px 230px;
    display: flex;
}
.footer-column{
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
}
form>input{
    width: 461px;
    height: 64px;
    border-radius: 5px;
    color: #757575;
    margin-bottom: 24px;
    font-size: 16px;
    border: none;
}
form>textarea{
    width: 461px;
    height: 180px;
    border-radius: 5px;
    color: #757575;
    margin-bottom: 24px;
    font-size: 16px;
    border: none;
}