.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.text-primary{
    color: #FD6E0A;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    color: white;
    background-color: #FD6E0A;
    height: 64px;
    width: 150px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight: 700;
    font-size: 45px;
}
nav>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 45px;
    
    
    
}
nav>ul>li>a{
    text-decoration: none;
    
    font-size: 20px;
}